<ion-view view-title="Your Balance">
  <ion-content>
    <h2> &nbsp;&nbsp;Currencies</h2> <h4 align="right">- Amount </h4>
    <ion-list>
    	<ion-item>
    		<b> BITCOIN (BTC) </b> &nbsp;&nbsp; <p align="right">-  0.00 USD</p>
    	</ion-item>
    	<ion-item>
    		<b>ETHERIUM (ETH)   </b> &nbsp;&nbsp;  <p align="right">-  0.00 USD</p>
    	</ion-item>
    	<ion-item>
    		<b>RIPPLE (XRP)    </b> &nbsp;&nbsp;  <p align="right">-  0.00 USD</p>
    	</ion-item>
    	<ion-item>
    		<b>US Dollars (USD)    </b> &nbsp;&nbsp;  <p align="right">-  0.00 USD</p>
    	</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
