<ion-view style="background-color: black; text-decoration: bold" view-title="Subscriptions">
 
 <ion-content style="background-color: #1DA28C" >
 <script type="text/javascript" src="timer.js"></script>
    <ion-list>
    	 <ion-item  style="background: transparent;">
      	<img src ="img/amazon.jpg" height="50px" width="150"> &nbsp;&nbsp; <button class="button button-energized"  height="50px" width="30px">Subscribe</button>  <img ng-src="/img/timer2.gif" width="120px" height="50px" alt="Description" />
      </ion-item> 
      <ion-item style="background: transparent;">
      	<img src ="img/netflix.png" height="50px" width="150"> &nbsp;&nbsp; <button class="button button-energized"  height="50px" width="30px">Subscribe</button>  <img ng-src="/img/timer2.gif" width="120px" height="50px" alt="Description" />
      </ion-item>
       <ion-item style="background: transparent;">
      	<img src ="img/spotify.jpg" height="50px" width="150"> &nbsp;&nbsp; <button class="button button-energized" height="50px" width="30px">Subscribe</button>  <img ng-src="/img/timer2.gif" width="120px" height="50px" alt="Description" />

      </ion-item>
      <ion-item style="background: transparent;">
      	<img src ="img/dishtv.png" height="50px" width="150"> &nbsp;&nbsp; <button class="button button-energized"  height="50px" width="30px">Subscribe</button> <img ng-src="/img/timer2.gif" width="120px" height="50px" alt="Description" />

      </ion-item> 
    </ion-list>
  </ion-content>
</ion-view>
