<ion-view view-title="Help">
  <ion-content>
    <h1>Help</h1>
     <ion-content style="background: #28B49D;">
        <ion-list>
        <ion-item style="background: transparent;" menu-close href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=overnoxcrypto@gmail.com">
         <img src="img/gmail.png" width="50px" height="50px"> Shoot a mail to: overnoxcrypto@gmail.com 
        </ion-item>
        <ion-item style="background: transparent;" menu-close href="https://plus.google.com/u/1/111793095109888484554">
        <img src="img/gplus.png" width="50px" height="50px"> Reach us on Google Plus 
        </ion-item>
       <ion-item style="background: transparent;" menu-close href="tel:7780322938">
         <img src="img/phone.png" width="50px" height="50px"> Call us to : 7780322938
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-content>
</ion-view>
